body {
  /* background-color: rgb(50, 50, 70); */
  background-color: #1F1F1F;


}

a {
    color: white;
}


button {
    background-color: rgb(18, 29, 33);
    border: 1px solid grey;
    color: white;
    /* border: none; */
    /* border-radius: 5px; */
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}